/* Basic styling for the body */
body {
    font-family: Arial, sans-serif, 'Open Sans'; /* Sets the font for the page */
    margin: 0;                      /* Removes default margin */
    padding: 0;
    color: #333;                     
    display: flex;                  /* Uses Flexbox for layout */
    flex-direction: column;         /* Stacks items vertically */
    align-items: center;            /* Centers items horizontally */
    background-color: #f4f6f9;
    position: relative;             /* Allows absolute positioning of children */
    overflow-x: hidden;
    overflow-y: hidden;
}

/* Header Styles */
.header {
    width: 100%;
    background-color: #1a3e57;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
.header h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 0;
    font-size: 1.5rem;
    cursor: pointer;
}

.header ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
}

.header ul li {
    margin-left: 1.5rem;
}

.header ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    display: block;
    padding: 0.5rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.header ul li a:hover {
    background-color: #214a61;
}

.header .dropdown-menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 200px;
    background-color: #214a61;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

.header .dropdown-menu.active {
    display: block;
}

.header .dropdown-menu ul {
    padding: 0;
    margin: 0;
}

.header .dropdown-menu ul li a {
    color: #fff;
    padding: 0.75rem;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.header .dropdown-menu ul li a:hover {
    background-color: #1a3e57;
}


.dashboard-container{
    margin-top: 60px;
    background-color: #ccc;
    width: 100%;
    height: 90dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard-container .Inner-Dashboard{
    background-color: #f4f6f9;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 80dvh;
    width: 60%;
    border-radius: 8px;
    box-shadow: 0px 5px 5px rgba(51, 51, 51, 0.5);
    overflow: hidden;
    padding-bottom: 40px;
}

.dashboard-container .Inner-Dashboard .announcementHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dashboard-container .Inner-Dashboard .announcementHeader h2{
    color: #1a3e57;
    font-size: 40px;
    margin-bottom: 0;
    font-weight: 600;
}

.dashboard-container .Inner-Dashboard .announcementHeader p{
    margin-top: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}


.dashboard-container .Inner-Dashboard .editor{
    height: 80%;
    width: 100%;
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;
    margin-top: 10px;
    box-sizing: border-box;
}

.dashboard-container .Inner-Dashboard .editor input{
    width: 100%;
    border: 1px solid rgba(51, 51, 51, 0.5);
    height: 30px;
    padding: 5px;
    padding-left: 10px;
    color: #333;
    border-radius: 8px;
    margin-bottom: 10px;
    font-weight: 550;
    font-size: 16px;
}

.dashboard-container .Inner-Dashboard .editor input:focus{
    border: 2px solid #1a3e57;
    border-color: #1a3e57;
    outline: none;
    box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.4);
}


.dashboard-container .Inner-Dashboard .editor textarea {
    width: 100%;
    height: 150px;         
    padding: 10px;       
    border-radius: 8px;    
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: Arial, sans-serif;
    resize: none;         
    outline: none;
    box-shadow: none;
    transition: border-color 0.3s ease-in-out;
  }
  
  /* Optional: Add some styling on focus */
.dashboard-container .Inner-Dashboard .editor textarea:focus {
    border: 2px solid #1a3e57;
    border-color: #1a3e57;
    outline: none;
    box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.4);
}


.dashboard-container .Inner-Dashboard .editor .SendBtn{
    background-color: #1a3e57;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
    border: 1px solid #fff;
    color: #ccc;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
}


.dashboard-container .Inner-Dashboard .editor .SendBtn:hover{
    box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.4);
    font-size: 21px;
    padding: 10px;
    padding-left: 14px;
    padding-right: 14px;
    border: 1px solid #1a3e57;
}

.dashboard-container .Inner-Dashboard .editor .Sending{
    background-color: #3e6785;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
    border: 1px solid #fff;
    color: #ccc;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
}

.dashboard-container .Inner-Dashboard .editor .Sending:hover{
    box-shadow: none;
    font-size: 20px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #fff;   
}

.dashboard-container .Inner-Dashboard .editor p{
    color: #d81c1c;
    margin-top: 0px;
}

/* Mobile Styles */
@media (max-width: 800px) {
    .header {
        flex-direction: row;
        align-items: center;
        padding: 1rem 2rem;
        justify-content: space-between;
    }

    .header h2{
        font-size: 30px;
        cursor: pointer;
    }
    
    .header ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 1rem;
        padding: 0;
    }
    
    .header ul.active {
        display: flex;
        background-color: #1a3e57;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: 200%;
        transform: translateX(0%);
        z-index: 999;
        padding-top: 1rem;
    }
    
    .header .mobile-nav-toggle {
        display: block;
        background-color: #214a61;
        padding: 0.5rem;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 50px;
    }
    
    .header .mobile-nav-toggle span {
        display: block;
        width: 25px;
        height: 2px;
        background-color: #fff;
        margin: 5px 0;
    }

    .dashboard-container{
        overflow-y: auto;
        margin-top: 40px;
        height: 100dvh;
    }

    .dashboard-container .Inner-Dashboard{
        overflow-y: auto;
        width: 100%;
    }

    .dashboard-container .Inner-Dashboard .announcementHeader h2{
        margin-top: 50px;
        font-size: 35px;
    }
    .dashboard-container .Inner-Dashboard .announcementHeader p{
        font-size: 15px;
    }

    .dashboard-container .Inner-Dashboard .editor{
        margin-top: 0px;
    }

    .dashboard-container .Inner-Dashboard .editor .SendBtn{
        padding: 7px;
        padding-left: 12px;
        padding-right: 12px;
    }

    .dashboard-container .Inner-Dashboard .editor .SendBtn:hover{
        padding: 7px;
        padding-left: 12px;
        padding-right: 12px;
    }

    .dashboard-container .Inner-Dashboard .editor .Sending{
        padding: 7px;
        padding-left: 12px;
        padding-right: 12px;
    }

    .dashboard-container .Inner-Dashboard .editor .Sending:hover{
        padding: 7px;
        padding-left: 12px;
        padding-right: 12px;
    }
}    

