
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f4f6f9;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
}

/* Header Styles */
.header {
  width: 100%;
  background-color: #1a3e57;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding-left: 20px;
  padding-right: 20px;
}

.header h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin: 0;
  font-size: 1.5rem;
}

.header ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.header ul li {
  margin-left: 12px;
}

.header ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 0.5rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.header ul li a:hover {
  background-color: #214a61;
}

.header .dropdown-menu {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 200px;
  background-color: #214a61;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

.header .dropdown-menu.active {
  display: block;
}

.header .dropdown-menu ul {
  padding: 0;
  margin: 0;
}

.header .dropdown-menu ul li a {
  color: #fff;
  padding: 0.75rem;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
}

.header .dropdown-menu ul li a:hover {
  background-color: #1a3e57;
}

/* Main Content Styles */
.dashboard-container {
  margin-top: 60px;
  padding: 2rem;
  flex-grow: 1;
  overflow-y: auto;
}

.dashboard-main{
  margin-top: 60px;
  min-height: 10rem;
  padding: 3rem;
  flex-grow: 1;
  overflow-y: auto;
}

.dashboard-alert {
  flex: 1 1 50%;
  background-color: #ff0000;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  padding-bottom: 3rem;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dashboard-alert:hover{
  transform: translateY(-30px);
  transform: translateX(10px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  background-color: #d30000;
}

.dashboard-alert a {
  background-color: #1a3e57;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.dashboard-header {
  text-align: center;
  margin: 6rem;
}

.dashboard-header h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  color: #1a3e57;
}

.dashboard-header p {
  color: #666;
  font-size: 1rem;
}

.dashboard-content {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1rem;
  gap: 1.5rem;
  margin-right: 40px;
}

.dashboard-card {
  flex: 1 1 calc(33.333% - 1rem);
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dashboard-card:hover {
  transform: translateY(-30px);
  transform: translateX(10px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  background-color: #b0b8bd;
  max-width: 90%;
  border: #000 13px;
}

.dashboard-card:hover #read {
  color: black;
  font-size: medium;
  line-height: calc(1.2em + 5px); /* Adjust the line-height correctly */
}


.dashboard-card:hover p{
  color: black;
  font-size: medium;
  font-weight: bolder;
}

.dashboard-card h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #1a3e57;
}

.dashboard-card p {
  margin-bottom: 1.5rem;
  color: #777;
  font-size: 1rem;
}

.dashboard-card a {
  background-color: #1a3e57;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.dashboard-card a:hover {
  background-color: #214a61;
}

/* Mobile Styles */
@media (max-width: 800px) {
.header {
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    padding: 1rem 2rem;
    font-size: 24px;
}

.header ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
    padding: 0;
}

.header h2{
  font-size: 27px;
}

.header ul.active {
    display: flex;
    background-color: #1a3e57;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 200%;
    transform: translateX(0%);
    z-index: 999;
    padding-top: 1rem;
}

.header .mobile-nav-toggle {
    display: block;
    background-color: #214a61;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 50px;
}

.header .mobile-nav-toggle span {
    display: block;
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 5px 0;
}

.notifationer{
  display: none
}

.profileDisplay{
  display: none;
}

.mobileNotification{
  display: flex;
}

.MobileProfile{
  display: flex;
}

.dashboard-content {
    flex-direction: column;
}

.dashboard-card {
    flex: 1 1 100%;
}
}

#preloader {
  position: fixed;
  inset: 0;
  z-index: 999999;
  overflow: hidden;
  color: #bbbbbb;
  /* animation: loader 3s infinite linear; */
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #ffffff;
  border-color: var(--accent-color) transparent var(--accent-color) transparent;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1.5s linear infinite;
}

.circleDiv1{
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 30px;
  z-index: 100000;
  background-color: #1a3e57;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.circleDiv1:hover{
  background-color: #214a61;
  box-shadow: 0 3px 3px rgba(51, 51, 51, 0.8);
}

.circleDiv2{
  cursor: pointer;
  position: absolute;
  bottom: 100px;
  right: 30px;
  z-index: 100000;
  background-color: #1a3e57;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.circleDiv2:hover{
  background-color: #214a61;
  box-shadow: 0 3px 3px rgba(51, 51, 51, 0.8);
}

.circleDiv1 img{
  cursor: pointer;
  background-color: transparent;
  width: 40px;
  height: 40px;
}

.circleDiv2 img{
  cursor: pointer;
  background-color: transparent;
  width: 40px;
  height: 40px;
}



@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
    transform: rotateZ(0deg);
    width: 60px;
    height: 60px;
    color: #888888;
    top: 45%;
    left: 40%;
  }

  50%{
    width: 30px;
    height: 30px;
    color: #fff;
    top: 45%;
    left: 55%;
  }

  100% {
    transform: rotate(360deg);
    transform: rotateZ(360deg);
    width: 60px;
    height: 60px;
    color: #888888;
    top: 45%;
    left: 40%;
  }
}

.write-article-section {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  margin-top: 20px;
}

.write-article-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.write-article-section p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.btn-write-article {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn-write-article:hover {
  background-color: #45a049;
}
